@import './css/accueil.css';
@import './css/contacter.css';
@import './css/formations.css';
@import './css/situation.css';
@import './css/menu.css';
@import './css/footer.css';
@import './css/stats.css';
@import './css/actualites.css';
@import './css/tilisateur.css';
@import './css/connexion.css';
@import './css/inscription.css';
@import './css/carousel.css';
@import './css/tableauDeBord.css';

body {
  padding: 0;
  margin: 0;
  background-color: wheat;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
}

.accueil,
.formations,
.localisation,
.contacter,
.actualites,
.espace-parents {
    background-color: wheat;
    color: #15324B;
    font-family: 'roboto';
}